{%extends 'blog/layout.html'%}
{%block content%}
<div class="d-flex justify-content-center border border-info rounded-right">
    <form method="post" action="https://test.yenepay.com/">
        <input type="hidden" name="Process" value="Express">
        <!--A unique identifier for the payment order. Yenepay will attach it to the order and
            echo it back when sending you any inforamtion about the order. To let the customer complete
            unfinished order you can send it again with the same order info-->
        <input type="hidden" name="MerchantOrderId" value="">
        <!--Your yenepay merchant code-->
        <input type="hidden" name="MerchantId" value="SB1892">
        <!-- The ipn url that you want yenepay to send you ipn messages to. Note localhost is not accepted here-->
        <input type="hidden" name="IPNUrl" value="">
        <!-- The url in your website or application that you want yenepay to redirect the customer after completing their payment. Note localhost is not accepted here-->
        <input type="hidden" name="SuccessUrl" value="http://localhost:8000/">
        <!-- The url in your website or application that you want yenepay to redirect the customer when canceling their payment. Note localhost is not accepted here-->
        <input type="hidden" name="CancelUrl" value="http://localhost:8000/payment">
        <!--A unique identifier for each item in the order. You can leave this blank if you want too.-->
        <input type="hidden" name="ItemId" value="3d0440d5-ec86-41ec-8568-ed47ef36405c">
        <!--The name for the item that that your customer is paying for-->
        {%for item in Item%}
        <p class="d-inline p-2 bg-info text-white">Item name: - </p><br><p>{{item.product}}</p>
        </br>
        {%endfor%}
        <input type="hidden" name="ItemName" value="Test Item 1">
        <!--The unit price for the item this must be a positive decimal number and can not be empty or zero-->
        <p ">Total price {{total}} birr</p>
        <input type="hidden" name="UnitPrice" value="{{total}}">
        <!--The quantity for the item this must be a positive integer number with minimum value of 1-->
        <!--The total price for the item will be determined by multiplying UnitPrice x Quantity for the item-->
        <input type="hidden" name="Quantity" value="1">
        <!--Submit button-->
        <input  type="submit" value="Buy Now">
    </form>
</div>    
{%endblock%}    