{% extends "blog/layout.html" %} {% block content %}
<article class="media content-section">
    <img class="position-relative rounded-circle bg-white shadow mx-auto" src="{{object.author.profile.image.url }}" style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small> {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">Title: -{{ object.title }}</h2>
        <div class="article-metadata">
            <div>
                <P class="article-title"><strong>Ingredients</strong></P>
            </div>
            <p class="article-content">{{ object.content }}</p>
        </div>
        <p class="article-content"><strong>Price</strong> :- {{ object.price }} Birr </p>
        <img src="{{ object.image.url }}">
        <img src="{{ object.image2.url }}">
        {% if user.is_authenticated %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'cart'%}">Add to Cart</a>
        {% endif %}

    </div>
    
</article>
  {% csrf_token %}
  <div class="row">
    <h2>comments{{no_of_comments}}</h2>
  </div>
  {% for comment in post.comments.all %}
<small class="mr-2 btn-outline-info">{{comment.name}}</small>
<small class="text-muted">{{comment.posted_on}}</small>
  <h4 class="article-title">{{comment.review}}</h1>
  
{% endfor %}  </br>
<p><a class="btn btn-primary" href="{% url 'addcomment' post.id %}">Add comment</a></p>
{%endblock%}