{% extends 'blog/layout.html'%}
{% block content %}
 <!-- Testimonial Start -->
 <h1 class="text-center">Restaurants {{many}}</h1> 
 {{ average }}
{% for restaurant in restaurants %}

 <div class="container-fluid py-5">
  <div class="container">
      <div class=" testimonial-carousel">
          <div class="testimonial-item">
              <img class="position-relative rounded-circle bg-white shadow mx-auto" src="{{restaurant.restaurant_logo.url}}" style="width: 100px; height: 100px; padding: 12px; margin-bottom: -50px; z-index: 1;" alt="">
              <div class="bg-light text-center p-4 pt-0">
                  <a href="/user/{{restaurant.restaurant_name}}"><h5 class="font-weight-medium mt-5">{{restaurant.restaurant_name|upper}}</h5></a>
                  
                   <p>{{restaurant.phone}}</p> 
                   <p>{{restaurant.email}}</p> 
                        <a href="https://www.google.com/maps/@11.947524,43.016047">
                            <p>
                                {{restaurant.Address}}
                            </p>
                        </a>
                    
                    <h4>BIO</h4>
                   <p>{{restaurant.Bio}}</p>
                  <p class="m-0"></p>
              </div>
          </div>
      </div>
  </div>
</div>
{%endfor%}
<!-- Testimonial End -->
{%endblock content%}

